<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Arboles Grupo1</title>
    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarArbol">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>
                </div>
            </div>
        </section>

        <!-- 2 Fragmento para agregar arbol, es la ventana modal -->
        <section th:fragment="agregarArbol">
            <div id="agregarArbol" 
                 class="modal fade" 
                 tabindex="-1" 
                 aria-labelledby="exampleModalLabel" 
                 aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title">Agregar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/arbol/guardar}" th:object="${arbol}"
                              method="POST" class="was-validated" enctype="multipart/form-data">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombreComun">Nombre común</label>
                                    <input type="text" class="form-control" name="nombreComun" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="tipoFlor">Tipo de flor</label>
                                    <input type="text" class="form-control" name="tipoFlor" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="durezaMadera">Dureza madera</label>
                                    <input type="text" class="form-control" name="durezaMadera" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="alturaPromedio">Altura promedio</label>
                                    <input type="text" class="form-control" name="alturaPromedio" required="true"/>
                                </div>
                                <div class="mb-3">
                                    <label for="imagen">Imagen</label>
                                    <input class="form-control" type="file" name="imagenFile" onchange="readURL(this);"/>
                                    <img id="blah" src="#" alt="your image" height="200"/>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- 3 Sección principal para mostrar la informaccion de la entidad arbol -->
        <section th:fragment="listadoArboles" id="arboles">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>Listado de árboles</h4>
                            </div>
                            <div th:if="${arboles != null and !arboles.empty}">
                                <table class="table table-striped table-hover">
                                    <thead class="table-dark">
                                        <tr><th>#</th>
                                            <th>Nombre común</th>
                                            <th>Tipo flor</th>
                                            <th>Dureza madera</th>
                                            <th>Altura promedio</th>
                                            <th>Imagen</th>
                                            <th></th></tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="arbol, contador : ${arboles}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${arbol.nombreComun}]]</td>
                                            <td>[[${arbol.tipoFlor}]]</td>
                                            <td>[[${arbol.durezaMadera}]]</td>
                                            <td>[[${arbol.alturaPromedio}]]</td>
                                            <td>[[${arbol.rutaImagen}]]</td>
                                            <td><a th:href="@{/arbol/eliminar/}+${arbol.idArbol}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> Eliminar</a>
                                                <a th:href="@{/arbol/modificar/}+${arbol.idArbol}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-pencil"></i> Actualizar</a></td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${arboles == null or arboles.empty}">
                                <span>Lista Vacía</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3>Total</h3>
                                <h4 class="fs-2"><i class="fas fa-users"></i> [[${totalArboles}]]</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 4 Fragmento que se utiliza en la página modifca.html -->
        <section th:fragment="editarArbol">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form method="POST"
                          th:action="@{/arbol/guardar}" 
                          th:object="${arbol}"
                          class="was-validated"                          
                          enctype="multipart/form-data">
                        <input type="hidden" name="idArbol" th:field="*{idArbol}"/>
                        <input type="hidden" name="rutaImagen" th:field="*{rutaImagen}"/>
                        <section th:replace="~{arbol/fragmentos :: botonesEditar}"/>
                        <div id=details>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4>Actualizar</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="nombreComun">Nombre común</label>
                                                    <input type="text" class="form-control" 
                                                           name="nombreComun" th:field="*{nombreComun}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tipoFlor">Tipo de flor</label>
                                                    <input type="text" class="form-control" 
                                                           name="tipoFlor" th:field="*{tipoFlor}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="durezaMadera">Dureza madera</label>
                                                    <input type="text" class="form-control" 
                                                           name="durezaMadera" th:field="*{durezaMadera}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="alturaPromedio">Altura promedio</label>
                                                    <input type="text" class="form-control" 
                                                           name="alturaPromedio" th:field="*{alturaPromedio}"
                                                           required="true">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="imagen">Imagen</label>
                                                    <input class="form-control" type="file" name="imagenFile"
                                                           onchange="readURL(this);" />
                                                    <img id="blah" th:src="@{${arbol.rutaImagen}}" alt="your image" height="200"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </section>

        <!-- 5 Fragmento que se utiliza en el fragmento anterior -->
        <section th:fragment="botonesEditar">
            <div class="container py-4 mb-4 bg-light">
                <div class="row">
                    <div class="col-md-4 d-grid">
                        <a th:href="@{/arbol/listado}" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i> Regresar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">                                
                        <a th:href="@{/arbol/eliminar/}+${arbol.idArbol}"
                           class="btn btn-danger">
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                    </div>
                    <div class="col-md-4 d-grid">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-check"></i> Guardar
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
